.A1
{
    position: relative;
    top: -200px;
    left: 400px;
    font-size: 30px;
    color: brown;
    font-family: cursive;

}

.A2
{
   position: relative;
    top: -200px;
    left: 0px;
    font-size: 20px; 
    width: 1300px;
    height: 600px;
    
}

.A3
{

    position: relative;
    top: -400px;
    left: 170px;
    color: aliceblue;
    font-size: 30px;

}


.A4
{
   position: relative;
    top: -290px;
    left: 0px;
    font-size: 20px; 
    width: 1200px;
    height: 600px;
    
}

.A5
{
   position: relative;
    left: 250px;
    top: -500px;
    font-size: 27px;
    color:darkorange;
    font-family: cursive;

    

}
