.blog1
{
position: relative;
left: 420px;
top: -6640px;
font-size: 40px;
}

 .blog2
{
 position: relative;
left: -400px;
top: 110px;
font-size: 40px;
} 


.blog3
{
 position: relative;
left: -300px;
top: 120px;
font-size: 40px;
} 



.blog4
{
 position: relative;
left: -240px;
top: 110px;
font-size: 40px;
} 