.mid1
{
position: relative;
top: -200px;
left: 460px;
font-size: 30px;

}
.mid2
{
position: relative;
top: -200px;
left: 420px;
font-size: 15px;
color: white;
background-color: black;



}